body {
  padding: 100px;
  color: red;
  font-family: monospace;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: row;
}

main > section {
  flex: 1;
  border: 1px solid red;
  padding: 3rem 5rem;
}

aside {
  display: flex;
  flex-direction: row;
}

aside > section {
  flex: 1;
  border: 1px solid #ccc;
  padding: 3rem 5rem;
}

label {
  display: flex;
  flex-flow: row nowrap;
  white-space: nowrap;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#chat {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
}

.person1,.person2 {
  background-color: green;
  color: white;
  padding: 0.5rem;
  min-width: 100px;
  max-width: 300px;
}

.person2 {
  background-color: blue;
  align-self: flex-end;
}

input#person1[type="text"] {
  border: 1px solid blueviolet;
}

path {
  fill: blueviolet;
}

input ~ button {
  display: block;
  background-color: black;
  color: wheat;
} 
